body {
  font-family: 'Press Start 2P', cursive;
  background-color: #404040;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 16px;
}

#game-window {
  margin: 16px auto 0;
  height: 640px;
  width: 700px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 5px;
}

#stats {
  width: 700px;
  height: 32px;
}

#score,
#high-score,
#lives {
  float: left;
  width: 33%;
  text-align: center;
}

#score span:first-child,
#high-score span:first-child,
#lives span:first-child {
  color: #f00;
}

#game {
  margin: 0 auto;
  width: 640px;
  height: 590px;
  clear: both;
}

.platform-background {
  background-image: url('../images/brick.png');
  height: 32px;
  width: 64px;
}

#game-won {
  background-color: rgba(156, 156, 156, 0.72);
  position: absolute;
  width: 700px;
  height: 590px;
  text-align: center;
}

.game-won-block {
  display: none;
}

#game-lost {
  background-color: rgba(156, 156, 156, 0.72);
  position: absolute;
  vertical-align: middle;
  margin: auto;
  width: 700px;
  height: 590px;
  text-align: center;
}

.game-lost-block {
  display: none;
}

.begin-game {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

#button {
  font-family: 'Press Start 2P', cursvie;
  color: red;
  display: block;
  margin: 25% auto;
  border-radius: 10px;
  background-color: black;
}
