#hostage {
  background-image: url('../images/brick.png');
  height: 32px;
  width: 240px;
  position: absolute;
  left: 400px;
  top: 96px;
}

#grid {
  width: 640px;
  heigh: 590px;
  position: relative;
  top: 0px;
}

.grid-cell {
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: 0;
  /*background-color: #fff;*/
  position: relative;
}

#boxy {
  /*border: 1px solid white;*/
  height: 32px;
  width: 32px;
  position: absolute;
  top: 320px;
  left: 64px;
  background-image: url('../images/princess-left.png');
}

#mario {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 64px;
  left: 432px;
  background-image: url('../images/mario.png');
  animation:
}


#platform-1 {
  position: absolute;
  top: 192px;
}
#platform-2 {
  position: absolute;
  left: 64px;
  top: 192px;
}
#platform-3 {
  position: absolute;
  left: 128px;
  top: 200px;
}
#platform-4 {
  position: absolute;
  left: 192px;
  top: 200px;
}
#platform-5 {
  position: absolute;
  left: 256px;
  top: 208px;
}
#platform-6 {
  position: absolute;
  left: 320px;
  top: 208px;
}
#platform-7 {
  position: absolute;
  left: 384px;
  top: 216px;
}
#platform-8 {
  position: absolute;
  left: 448px;
  top: 216px;
}
#platform-9 {
  position: absolute;
  left: 512px;
  top: 224px;
}
#platform-10 {
  position: absolute;
  left: 576px;
  top: 224px;
}

#platform-11 {
  position: absolute;
  left: 576px;
  top: 192px;
}
#platform-12 {
  position: absolute;
  left: 512px;
  top: 192px;
}
#platform-13 {
  position: absolute;
  left: 448px;
  top: 200px;
}
#platform-14 {
  position: absolute;
  left: 384px;
  top: 200px;
}
#platform-15 {
  position: absolute;
  left: 320px;
  top: 208px;
}
#platform-16 {
  position: absolute;
  left: 256px;
  top: 208px;
}
#platform-17 {
  position: absolute;
  left: 192px;
  top: 216px;
}
#platform-18 {
  position: absolute;
  left: 128px;
  top: 216px;
}
#platform-19 {
  position: absolute;
  left: 64px;
  top: 224px;
}
#platform-20 {
  position: absolute;
  left: 0px;
  top: 224px;
}
#platform-21 {
  position: absolute;
  left: 0px;
  top: 352px;
}
#platform-22 {
  position: absolute;
  left: 64px;
  top: 352px;
}
#platform-23 {
  position: absolute;
  left: 128px;
  top: 360px;
}
#platform-24 {
  position: absolute;
  left: 192px;
  top: 360px;
}
#platform-25 {
  position: absolute;
  left: 256px;
  top: 368px;
}
#platform-26 {
  position: absolute;
  left: 320px;
  top: 368px;
}
#platform-27 {
  position: absolute;
  left: 384px;
  top: 376px;
}
#platform-28 {
  position: absolute;
  left: 448px;
  top: 376px;
}
#platform-29 {
  position: absolute;
  left: 512px;
  top: 384px;
}
#platform-30 {
  position: absolute;
  left: 576px;
  top: 384px;
}
#platform-31 {
  position: absolute;
  left: 576px;
  top: 512px;
}
#platform-32 {
  position: absolute;
  left: 512px;
  top: 512px;
}
#platform-33 {
  position: absolute;
  left: 448px;
  top: 520px;
}
#platform-34 {
  position: absolute;
  left: 384px;
  top: 520px;
}
#platform-35 {
  position: absolute;
  left: 320px;
  top: 528px;
}
#platform-36 {
  position: absolute;
  left: 256px;
  top: 528px;
}
#platform-37 {
  position: absolute;
  left: 192px;
  top: 536px;
}
#platform-38 {
  position: absolute;
  left: 128px;
  top: 536px;
}
#platform-39 {
  position: absolute;
  left: 64px;
  top: 544px;
}
#platform-40 {
  position: absolute;
  left: 0px;
  top: 544px;
}
